.input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    text-transform: none;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    font-weight: 300;
    width: 100%;
    

    &:focus {
        outline: none;
        border-bottom-width: 2px;
        
        &::placeholder {
            color: transparent;
        }
    }
}