.common {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    text-transform: none;
    font-size: 24px;
    border: none;

    padding: 4px;
    font-weight: 300;
    width: 100%;
    background: transparent;
}

.common:focus {
    outline: none;
    border-bottom-width: 2px;
}
.common:focus::placeholder {
    color: transparent;
}

.primary {
    composes: common;
    border-bottom: 1px solid black;
}

.secondary {
    composes: common;
    color: white;
    border-bottom: 1px solid white;
}

.primary::placeholder {
    color: black;
}

.secondary::placeholder {
    color: white;
}