.inputContainer {
  position: relative;
}

.common {
  margin: 0;
  text-transform: none;
  font-size: 18px;
  border: none;
  padding: 4px 8px;
  font-weight: 300;
  width: 100%;
  background: transparent;
}

.common:focus {
  outline: none;
}
.common:focus::placeholder {
  color: transparent;
}

.primary {
  composes: common;
  border-bottom: 1px solid var(--border-color);
  border-color: var((--border-color));
  color: var(--ds-gray-1000);

  &:hover {
    border-color: var(--border-color-hover);
  }

  &:focus {
    border-color: var(--border-color-active);
  }

  &::placeholder {
    color: var(--ds-gray-900);
  }
}

.secondary {
  composes: common;
  color: var(--ds-background-100);
  border-bottom: 1px solid var(--ds-gray-100);
  border-color: var((--ds-gray-100));

  &:hover {
    border-bottom-color: var(--ds-gray-200);
  }

  &:focus {
    border-bottom-color: var(--ds-gray-300);
  }

  &::placeholder {
    color: var(--ds-gray-200);
  }
}

.outlined {
  border-top-width: 1;
  border-right-width: 1;
  border-bottom-width: 1;
  border-left-width: 1;
  border-style: solid;
  border-radius: 8px;
  font-size: 16px;
}

.cancelIcon {
  color: var(--ds-gray-900);
  stroke: var(--ds-gray-900);
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 60%;
}
