.common {
  font-size: 16px;
  font-weight: 300;
  gap: 12px;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    transition: all 0.2s ease-in-out;
    transform: translateX(0px);

    path {
      fill: var(--ds-gray-1000);
    }
  }

  &:hover {
    svg {
      transform: translateX(8px);
    }
  }
}

.primary {
  composes: common;
}

.secondary {
  composes: common;
  color: var(--ds-background-100);
}

.noStyle {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
