:global(body):has(.container) {
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  flex: 1;
  height: 100%;
  position: relative;
  transition: 100ms;

  :global(.verticalNavLink) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  @supports (-webkit-hyphens: none) {
    .container {
      max-height: 100vh;
      overflow-y: hidden;
    }
  }
  .container {
    grid-template-columns: 1fr 0fr;
    overflow: hidden;

    & > * {
      overflow-x: hidden;
    }

    :global(.verticalNavLink) {
      display: block;
    }
  }

  .container:has(:global(.open)) {
    grid-template-columns: 0fr 1fr;
  }
}
