.container {
  display: grid;
  grid-template-columns: auto 1fr;
  // height: 100%;
  // flex: 1;
  height: calc(100vh - 27px);
  overflow: hidden;

  :global(.verticalNavLink) {
    display: none;
  }
}

.containerChatOpen {
  composes: container;
}

@media screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr 0fr;
    padding-right: 0px;
    padding-left: 0px;
    transition: 100ms;
    // overflow: hidden;

    &:has(:global(.verticalNavLink)) {
      padding-right: 34px;
    }

    :global(.verticalNavLink) {
      position: fixed;
      right: 0;
      top: 0;
      display: block;
      padding: 8px;
      background-color: var(--ds-background-100);

      &:hover {
        background-color: var(--ds-background-200);
      }
    }
  }

  .containerChatOpen {
    padding-left: 34px;
    padding-right: 0px;
    grid-template-columns: 0fr 1fr;

    &:has(:global(.verticalNavLink)) {
      padding-right: 0px;
    }

    :global(.verticalNavLink) {
      position: fixed;
      left: 0;
      right: auto;
      top: 0;
    }
  }
}
