.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.25);
}

.container {
  min-width: 420px;
  max-width: 100%;
  background-color: var(--ds-background-100);
  border-radius: 8px;
  overflow: hidden;
}

.body {
  min-height: 100px;
  max-height: 100%;
  padding: 36px 21px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-weight: var(--font-regular);
    font-size: 24px;
  }
}

.actions {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-color: var(--ds-background-100);
  width: 100%;
  overflow: hidden;
}

.button {
  border: none;
  flex: 1;
  display: grid;
  padding: 16px;
  place-content: center;
  cursor: pointer;
  border-top: 1px solid var(--border-color);
  background-color: var(--ds-background-100);
  font-weight: var(--font-regular);

  &:hover {
    background-color: var(--ds-background-200);
    border-top: 1px solid var(--border-color-hover);
  }
}

.confirmButton {
  composes: button;
  background-color: var(--ds-gray-1000);
  color: var(--ds-background-100);
  border-top: 1px solid var(--border-background-100);

  &:hover {
    background-color: var(--ds-gray-1000);
    border-top: 1px solid var(--border-background-100);
  }
}
