.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ds-gray-1000);
  height: 100%;
  width: 100%;
  color: var(--ds-background-100);

  form {
    max-width: 500px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    button {
      flex: 0;
    }
  }
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--ds-red-700);

  p {
    margin: 0;
    padding: 0;
    color: var(--ds-red-700);
  }
}
